{% extends 'base.html.twig' %}

{% block title %}Блог для айтишников | {{ post.title }}{% endblock %}

{% block body %}
    <main>
        <div class="main">
            <div class="container-post">
                <div class="post-img">
                    <img src="{{ asset('uploads/posts/img/' ~ post.imgPath) }}" alt="{{ post.title }}">
                    <div class="post-info">
                        <div class="post-title"><h1>{{ post.title }}</h1></div>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fal fa-user"></i> {{ post.author.firstName }} {{ post.author.lastName }}</li>
                                <li><i class="fal fa-calendar"></i> {{ post.updatedAt|date('Y-m-d H:i:m') }}</li>
                                <li><i class="fal fa-boxes-alt"></i> {{ post.category.name }}</li>
                                <li>{{ post.meta.views }} <i class="fal fa-eye"></i></li>
                                <li>{{ post.meta.comments }} <i class="fal fa-comments-alt"></i></li>
                                <li>{{ post.meta.likes }} <i class="fal fa-thumbs-up"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="post-text">{{ post.content|raw }}</div>
                <div class="post-tags"></div>
                <div class="post-comments"></div>
            </div>
        </div>
    </main>
{% endblock %}
