{% extends 'base.html.twig' %}

{% block title %}Панель автора{% endblock %}

{% block body %}
    <main>
        <div class="main">
            <h1 class="main-header c-t-black">ПАНЕЛЬ АВТОРА</h1>
            <div class="main-container">
                <nav class="container-nav">
                    <ul>
                        <li>
                            {% if app.user.firstName and app.user.lastName %}
                                <a href="{{ path('author.post_new') }}"><i class="fal fa-plus-square"></i> Новая статья</a>
                            {% else %}
                                <span>Чтобы добавлять новость. Зайдите в<a href="#"> настройки профиля</a> и заполните поля "Имя" и "Фамилия"</span>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th class="t-w-400px">ЗАГОЛОВОК</th>
                        <th>ДАТА СОЗДАНИЯ</th>
                        <th>ДАТА РЕДАКТИРОВАНИЯ</th>
                        <th>META</th>
                        <th>СТАТУС</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if posts is empty %}
                        <tr>
                            <td class="table-is-empty" colspan="7">Empty</td>
                        </tr>
                    {% else %}
                        {% for post in posts %}
                            <tr>
                                <td>{{ post.id }}</td>
                                <td>{{ post.title }}</td>
                                <td>{{ post.createdAt|date('Y-m-d H:i') }}</td>
                                <td>{{ post.updatedAt|date('Y-m-d H:i') }}</td>
                                <td>
                                    <ul>
                                        <li class="badge c-bg-purple f-s-08">
                                            <span>{{ post.meta.views }} <i class="fal fa-eye"></i></span>
                                        </li>
                                        <li class="badge c-bg-purple f-s-08">
                                            <span>{{ post.meta.comments }} <i class="fal fa-comments-alt"></i></span>
                                        </li>
                                        <li class="badge c-bg-purple f-s-08">
                                            <span>{{ post.meta.likes }} <i class="fal fa-thumbs-up"></i></span>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    {% if post.meta.status == 0 %}
                                        <span class="c-t-red f-s-08">НЕ АКТИВЕН</span>
                                    {% elseif post.meta.status == 1 %}
                                        <span class="c-t-turquoise f-s-08">АКТИВЕН</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <ul>
                                        <li class="badge c-bg-orange f-s-08">
                                            <a href="{{ path('author.post_edit', {id: post.id}) }}"><i class="fal fa-edit"></i> Edit</a>
                                        </li>
                                        <li class="badge c-bg-red f-s-08">
                                            {{ include('blog/author/_delete_form.html.twig', {post: post}, with_context = false) }}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
