{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <main>
        <div class="main height-100vh vert-center hor-center">
            <div class="container-form">
                <h1 class="main-header c-t-black">РЕГИСТРАЦИЯ</h1>
                {{ form_start(form_registration) }}
                    <div class="form-error">{{ form_errors(form_registration.email) }}</div>
                    <div class="form-row">
                        <i class="fal fa-envelope"></i>
                        {{ form_widget(form_registration.email) }}
                    </div>

                    <div class="form-error">{{ form_errors(form_registration.plainPassword.first) }}</div>
                    <div class="form-row">
                        <i class="fal fa-lock"></i>
                        {{ form_widget(form_registration.plainPassword.first) }}
                    </div>

                    <div class="form-error">{{ form_errors(form_registration.plainPassword.second) }}</div>
                    <div class="form-row">
                        <i class="fal fa-lock"></i>
                        {{ form_widget(form_registration.plainPassword.second) }}
                    </div>

                    <div class="form-row">
                        {{ form_widget(form_registration.registration) }}
                    </div>
                {{ form_end(form_registration) }}
            </div>
        </div>
    </main>
{% endblock %}
